<!DOCTYPE html>
<html>
<head>
     <title>About</title>
     <link rel="icon" href="/images/weathericon.png"> 
     <link rel="stylesheet" href="/css/style.css">
   
</head>
<body>
    <div class="main-content">
    {{>header}}
    </div>

     <img src="/images/weather.jpg" class="potrait"> 
<p>name:{{name}}</p>
<p>age:{{age}}</p>
{{>footer}}
</body>
</html>